services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: insightly
    ports:
      - "5434:5432"
    volumes:
      - db-data-insightly:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5052:80"
    depends_on:
      - db
    volumes:
      - pgadmin-data-insightly:/var/lib/pgadmin

volumes:
  db-data-insightly:
  pgadmin-data-insightly:
